@import "https://fonts.googleapis.com/css?family=Montserrat";

body{
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    background: gainsboro;
}

h1{
    font-size:3em;
}

p{
    font-weight:400;
    font-size:2em;
}

.img-quadrata {
    border-radius:50%;
    width:200px;
    height: 200px;
}

.col-md-12{
    margin:auto;
}

.img-quadrata:hover {
    border-radius:50%;
    width:220px;
    height: 220px;
}

.small{
    text-align:center;
    font-size:1em;
    color:gray;
}

.small:hover{
    text-align:center;
    font-size:1.02em;
    color:gray;
}

.container{
    margin: auto;
}

.section{
    position: relative;
    height: 90vh;
}

#equipe{
    margin: 50px auto;
}

.titulo{
    background-color: rgba(244, 67, 54, 0.7);
}
